{% extends 'blog/base.html' %}

{% block content %}
<br>
<h1 align="center">유기동물들의 정보를 알려주는 사이트입니다.</h1>
<br>
<h5 align="center">(해당 유기동물을 클릭해주시고, 해당동물이 없으시다면 <a href="http://pawinhand.kr/">포인핸드</a>로 문의해주세요.)</h5>
<br>
<br>
<br>
<br>
<br>



&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

<a href="{% url 'blog:cat_list' %}">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5L7uR3fYhiqICfbMpu_KTg2Qv-XUwXbMSH_UVsE_p5cNSirsx" width="400" height="300">
</a>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;


<a href="{% url 'blog:dog_list' %}">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl_vfwL_Rtf7jG5LJerBEbVAnytBu9LGjeqlwOXIkPBvGG5npFeA" width="400" height="300">
</a>
<br>

<h2>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a href="blog:cat_list">고양이</a>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;
<a href="{% url 'blog:dog_list'%}">강아지</a>
</h2>




<br><br><br><br><br><br><br><br>
<h4>출처: <a href="http://pawinhand.kr/">포인핸드</a></h4>
{% endblock %}